


<main class="page payment-page">
  <div class="block-heading d-flex justify-content-center">
    <h2>Payment</h2>
  </div>
<section class="payment-form dark ">
  <div class="container">

    <form [formGroup]="editForm" (ngSubmit)="onSubmit()">
      <!-- <div class="products">
        <h3 class="title">Checkout</h3>
        <div class="item">
          <span class="price">$200</span>
          <p class="item-name">Product 1</p>
          <p class="item-description">Lorem ipsum dolor sit amet</p>
        </div>
        <div class="item">
          <span class="price">$120</span>
          <p class="item-name">Product 2</p>
          <p class="item-description">Lorem ipsum dolor sit amet</p>
        </div>
        <div class="total">Total<span class="price">$320</span></div>
      </div> -->
      <div class="card-details">
        <h3 class="title">Credit Card Details</h3>
        <div class="row">
          <div class="form-group col-sm-12">
            <label for="name" class="form-label">Name</label>
            <input type="text" id="name" class="form-control" formControlName="name">
            <div *ngIf="editForm.get('name')?.invalid && editForm.get('name')?.touched" class="text-danger">
              Name is required.
            </div>
          </div>
          <div class="form-group col-sm-12">
            <label for="managerId" class="form-label">ManagerId</label>
            <input type="text" id="managerId" class="form-control" formControlName="managerId">
            <div *ngIf="editForm.get('managerId')?.invalid && editForm.get('managerId')?.touched" class="text-danger">
              ManagerId is required.
            </div>
          </div>
          <div class="form-group col-sm-12 d-flex justify-content-center">
            <button type="submit" (onclick)="onSubmit()"  class="btn btn-primary btn-block w-50">Update</button>
          </div>
        </div>
      </div>
    </form>
  </div>
</section>
</main>